body{
    margin: 0;
    
}
header{
    background-image: url("img_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo-heading{
    display: flex;
    margin: 10px 10px;
}
.logo-heading a{
    text-decoration: none;
    color: rgb(34, 36, 36);
}
.logo-heading span{
    margin: 15px 0px 0px 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar1 ul{
    display: flex;
    margin: 10px 10px 10px 0px;
    
}
.navbar1 a{
    text-decoration: none;
    color: rgb(0, 14, 14);
    padding: 10px;
}
.navbar1 a:hover{
    border-bottom: 2px solid rgb(92, 88, 88);
}
.navbar1 li{
    /* padding: 10px; */
    font-family:Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 10px 15px 10px 15px;
    font-size: 1.2rem;
}
#nav-toggle{
    position: absolute;
    top: -100%;
}
nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 30px;
}
.line{
    font-size: 35px;
    color: rgb(34, 33, 33);
}
 
.header-mid{
    margin: 25vh 0vh 0vh 20vh;
}
.header-mid h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
#text a{
    text-decoration: none;
    color: black;
}

.notice-board{
    background-color: rgb(141, 137, 137);
    color: white;
    position: sticky;
    top: 0%;
    padding: 10px 0px 10px 0px;
    z-index: 10;
}


#our-olympiads{
    background-color: rgb(202, 158, 231);
}
.heading-olymp{
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;
}
.heading-olymp h1{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 46);
}
.size{
    font-size: 5rem;
}
.our-olymp{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* background-color: white; */
}
.olymp-cont{
    width: 300px;
    display: flex;
    position: relative;
    padding: 20px 0px 20px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    flex-direction: column;
    margin: 50px 30px 50px 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 6px rgb(129, 119, 119);
}
.olymp-cont p{
    text-align: center;
    margin: 20px;
}
.olymp-cont h2{
    margin-top: 10px;
}

.olymp-cont:hover{
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes anim {
    0% {top: 0px;}
    50% {top: 30px;}
    100% {top: 0px;}
}

.reg-ins{
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}
.reg-ins h1, h3{
    color: rgb(168, 164, 164);
}
.ins-icon i{
    font-size: 60px;
}
.ins-icon span{
    font-size: 40px;
}

.reg-ins:nth-child(odd){
    padding: 50px 150px;
    background-color: rgb(202, 158, 231);
    color: black;
}
.second{
    padding: 50px 150px
}
.logo2{
    padding-right: 70px;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    /* .footer {
      height: 525px;
    } */
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: rgb(202, 158, 231);
  color: rgb(53, 51, 51);
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: rgb(85, 51, 51);
  text-decoration:none;
  border-bottom:1px dotted rgb(47, 41, 41);
}

footer .form-control {
    background-color: #7498e0;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #323333;
    padding: 0.7em 1em;
}


/* Adding the responsiveness to the pages */

@media screen and (max-width: 1080px){
    .navbar1 li{
        margin: 10px 5px 10px 5px;
    }
    
}

@media screen and (max-width: 1000px) {
    nav .icon-burger{
        display: block;
    }
    nav .navbar1 ul{
        float: none;
        position: fixed;
        z-index: 11;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        align-items: center;
        flex-direction: column;
        background-color: black;
        opacity: 0.7;
        overflow: hidden;
        transition: all 0.5s;
    }
    nav .navbar1 a{
        color: white;
        display: block;
    }
    .button-login{
        color: white;
        border: 1px solid white;
    }
    nav :checked ~ .navbar1 ul{
        bottom: 0%;
    }
    .olymp-cont{
        width: 300px;
        margin: 50px 10px 60px 10px;
    }
    .our-olymp{
        width: 95%;
    }
    .reg-ins{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ins-icon{
        margin-top: 50px;
    }
    .gap{
        margin-bottom: 50px;
    }
    .logo2{
        padding-top: 50px;
    }
    .footer{
        height: 520px;
    }
} 


@media screen and (max-width: 700px) {
    .olymp-cont{
        width: 350px;
        
    }
    .our-olymp{
        width: 80%;
        flex-direction: column;
        align-items: center;
    }
    
} 
